/* Archivo estilosTienda.css */

/* Estilo básico para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: #333;
    width: 100%;  /*******/
    justify-content: center;
}

/* Estilo del título de la página */
#titulo {
    color: #A50000;
    font-size: 3em;
    margin: auto;
    padding: 0.25em 0 0.25em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo de las categorías */
#categorias {
    margin:  auto;
    border: 1px solid #a500003b;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-bottom: 20px;
}

#categorias .submenu {
    margin: 0 10px;
}

/* Estilo de las subcategorías */
.submenu {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    transition: 3s;
}
#categorias .submenu button {
    background-color: #a5000091;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

#categorias .submenu button:hover {
    background-color: #800000;
}

.submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.submenu-content a {
    color: #A50000;
    padding: 12px 16px;
    font-size: 1em;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.submenu-content a:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.2);
}

.submenu:hover .submenu-content {
    display: block;
}


/* Contenedor de los productos */
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:  auto auto 100px auto;
    border: 1px solid #a500003b;
    border-radius: 10px;
    padding: 3em;
    width: 80%;
    height: auto;
}

/* Estilo individual para cada producto */
.producto {
    background-color: white;
    width: calc(30% - 20px); /* Calculamos el ancho para tres productos por fila */
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
    padding-bottom: 5rem;
}

/* Estilo de imagen del producto */
.producto img {
    display: block;
    margin: 0 auto 5px;
    width: 100px; /* Tamaño de la imagen */
    height: 100px; /* Tamaño de la imagen */
    border-radius: 50%; /* Forma circular para la imagen */
}

/* Estilo para el nombre del producto */
.producto h3 {
    font-size: 1.2em;
    color: #A50000;
    text-align: center;
    margin-bottom: 5px;
}

/* Estilo para la descripción del producto */
.producto p {
    color: #666;
    margin-bottom: 10px;
    padding: 5px;
    max-height: 3em; /* Altura máxima de tres líneas de texto */
    overflow: hidden; /* Oculta el texto que excede la altura máxima */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto truncado */
    font-size: 1em;
}

/* Estilo para el precio del producto */
.producto stock {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 1em 0 0 0;
}
.producto span {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 1px 0 0 0;
    color: #26a500;
}


/* Estilo para el botón "Agregar al carrito" */
.boton-agregar {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #A50000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

/* Mostrar el botón cuando el mouse se posa sobre el producto */
.producto:hover .boton-agregar {
    display: block;
}
.boton-agregar:hover{
    background-color: #530202;
}

/* Estilos adicionales para diferentes tamaños de pantalla */
@media only screen and (max-width: 1000px) {
    /* Dos productos por fila en pantallas entre 758px y 1000px */
    .producto {
        width: calc(45% - 20px); /* Calculamos el ancho para dos productos por fila */
    }
    .boton-agregar {
        display: block !important;
    }
}

@media only screen and (max-width: 768px) {
    /* Un producto por fila en pantallas menores a 758px */
    .producto {
        width: calc(100% - 20px); /* Calculamos el ancho para un producto por fila */
    }
    .boton-agregar {
        display: block !important;
    }
}
